<form (ngSubmit)="create()"  [formGroup]="createForm">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="Flight Name" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="origin" placeholder="Departure City">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="destination" placeholder="Destination City">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="code" placeholder="Code">
        </div>
        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    