<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Operation</th>
            <th scope="col">Name</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">AIRcode</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of flyArr">     
            <tr>
                <td><button class="btn btn-small btn-danger" (click)="submit(item.code)">Delete</button></td>
                <td>{{item.name}}</td>
                <td>{{item.origin}}</td>
                <td>{{item.destination}}</td>
                <td>{{item.code}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>