.para{
    color: blue;
    font-size: 100px;
}

.img{
    width: 100px;
    height: 100px;
}

.content{
    background-color: olive;
    color:#ffffff;
}

nav{
    background-color: maroon;
   
    height:50px;
  
}
ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
    
}

a{
    color:#ffffff;
}